@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap");
* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
  transition: all 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
  font-weight: normal;
}

*::-moz-selection {
  background: #ff1a1a;
  color: #fff;
}

*::selection {
  background: #ff1a1a;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #ff1a1a;
}

body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 11rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 4rem;
  font-size: 2rem;
  color: #fff;
  background: #ff1a1a;
  padding-top: 1rem;
  margin-top: 1rem;
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.heading {
  text-align: center;
  color: #ff1a1a;
  font-size: 4rem;
}

.heading span {
  color: #666;
}

/* section HEADER */
.header {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 93%;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}

.header .logo {
  color: #333;
  font-size: 2.5rem;
}

.header .logo span {
  color: #ff1a1a;
}

.header #menu {
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  display: none;
}

.header .navbar a {
  font-size: 2rem;
  color: #333;
  margin-left: 3rem;
}

.header .navbar a:hover {
  color: #ff1a1a;
}

.header .navbar a.active {
  color: #ff1a1a;
}

/* section HOME */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../img/home-bg-min.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/home-bg-min.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  height: 80rem;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 4rem 0;
}

.home .content h3 {
  color: #ff1a1a;
  font-size: 4rem;
  padding-bottom: 1rem;
}

.home .content h1 {
  color: #fff;
  font-size: 7rem;
}

.home .content p {
  color: #aaa;
  font-size: 2.5rem;
  padding: 1rem 0;
}

/* section GALLERY */
.gallery {
  background: #f0f0f0;
}

.gallery .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  height: 40rem;
  overflow: hidden;
  background: #333;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.gallery .box-container .box:hover .info {
  bottom: 2rem;
}

.gallery .box-container .box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery .box-container .box:hover {
  background: #111;
}

.gallery .box-container .box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .box-container .box .info {
  position: absolute;
  bottom: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  background: #fff;
  padding: 2rem;
  border: 0.3rem solid #ff1a1a;
  border-radius: 0.5rem;
}

.gallery .box-container .box .info h3 {
  background: #ff1a1a;
  color: #fff;
  border-radius: 0.5rem;
  margin: 0 5rem;
  margin-top: -3.7rem;
  padding: 0.5rem 2rem;
  font-size: 2.5rem;
}

.gallery .box-container .box .info p {
  font-size: 2rem;
  color: #666;
  padding: 0.5rem;
  padding-top: 2rem;
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .header #menu {
    display: block;
  }
  .header .navbar {
    position: fixed;
    top: 110%;
    left: 0;
    background: #fff;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  .header .navbar a {
    display: block;
    padding: 2rem;
    margin: 1rem 0;
    font-size: 2.5rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .header .navbar.nav-toggle {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  .header .fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .home .content {
    text-align: center;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=estilo.css.map */