@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: 0; outline: 0;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.16,.8,.62,1.52);
    font-weight: normal;
}

$red:#ff1a1a;

*::selection{
    background: $red;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1.3rem;
    }

    &::-webkit-scrollbar-track{
        background: #000;
    }

    &::-webkit-scrollbar-thumb{
        background: $red;
    }
}

body{
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 11rem;
}

.btn{
    display: inline-block;
    padding: 0.7rem 4rem;
    font-size: 2rem;
    color: #fff;
    background: $red;
    padding-top: 1rem;
    margin-top: 1rem;

    &:hover{
        transform: scale(1.02);
    }
}

.heading{
    text-align: center;
    color: $red;
    font-size: 4rem;

    span{
        color: #666;
    }
}

/* section HEADER */
.header{
    position: fixed;
    top: 2.5rem; left: 50%;
    transform: translateX(-50%);
    width: 93%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-radius: 0.5rem;

    .logo{
        color: #333;
        font-size: 2.5rem;

        span{
            color: $red;
        }
    }

    #menu{
        font-size: 3rem;
        color: #666;
        cursor: pointer;
        display: none;
    }

    .navbar{

        a{
            font-size: 2rem;
            color: #333;
            margin-left: 3rem;

            &:hover{
                color: $red;
            }

            &.active{
                color: $red;
            }
        }
    }
}

/* section HOME */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/home-bg-min.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .image{
        flex: 1 1 40rem;

        img{
            width: 100%;
            height: 80rem;
        }
    }

    .content{
        flex: 1 1 40rem;
        padding: 4rem 0;

        h3{
            color: $red;
            font-size: 4rem;
            padding-bottom: 1rem;
        }

        h1{
            color: #fff;
            font-size: 7rem;
        }

        p{
            color: #aaa;
            font-size: 2.5rem;
            padding: 1rem 0;
        }
    }
}

/* section GALLERY */
.gallery{
    background: #f0f0f0;

    .box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .box{
            flex: 1 1 30rem;
            height: 40rem;
            overflow: hidden;
            background: #333;
            text-align: center;
            padding: 2rem;
            margin: 2rem;
            border-radius: 0.5rem;
            position: relative;

            &:hover .info{
                bottom: 2rem;
            }

            &:hover img{
                transform: scale(1.2);
            }

            &:hover{
                background: #111;
            }

            img{
                height: 100%;
                object-fit: cover;
            }

            .info{
                position: absolute;
                bottom: 120%; left: 50%;
                transform: translateX(-50%);
                width: 80%;
                background: #fff;
                padding:2rem;
                border: 0.3rem solid $red;
                border-radius: 0.5rem;

                h3{
                    background: $red;
                    color: #fff;
                    border-radius: 0.5rem;
                    margin: 0 5rem;
                    margin-top: -3.7rem;
                    padding: 0.5rem 2rem;
                    font-size: 2.5rem;
                }

                p{
                    font-size: 2rem;
                    color: #666;
                    padding: 0.5rem;
                    padding-top: 2rem;
                }
            }
        }
    }
}

/* section ABOUT */
.about{

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .image{
            flex: 1 1 40rem;
            padding: 2rem 0;
            text-align: center;

            img{
                height: 50rem;
            }
        }

        .content{
            flex: 1 1 40rem;

            h3{
                font-size: 5.5rem;
                color: #333;
            }

            p{
                font-size: 2.2rem;
                color: #666;
                padding: 1rem 0;
            }
        }
    }
}

/* section MOVIES */
.movies{
    background: #222;

    .heading{

        span{
            color: #fff;
        }
    }

    .box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .box{
            flex: 1 1 30rem;
            height: 40rem;
            overflow: hidden;
            position: relative;
            margin: 2rem;
            box-shadow: 0 0.3rem 0.5rem #000;
        }
    }
}


/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    .header{

        #menu{
            display: block;
        }

        .navbar{
            position: fixed;
            top: 110%; left: 0;
            background: #fff;
            width: 100%;
            border-radius: 0.5rem;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
            transform: scaleY(0);
            transform-origin: top;
            opacity: 0;

            a{
                display: block;
                padding: 2rem;
                margin: 1rem 0;
                font-size: 2.5rem;
                border-bottom: 0.1rem solid rgba(0,0,0,0.1);
            }

            &.nav-toggle{
                transform: scaleY(1);
                opacity: 1;
            }
        }

        .fa-times{
            transform: rotate(180deg);
        }
    }

    .home{

        .content{
            text-align: center;
        }
    }
}

@media (max-width:400px){
    html{
        font-size: 50%;
    }

    section{
        padding: 0 3%;
        padding-top: 11rem;
    }

    .row{

        .image{

            img{
                height: auto;
                width: 100%;
            }
        }
    }
}