@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: 0; outline: 0;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.16,.8,.62,1.52);
}

$red:#ff1a1a;

*::selection{
    background: $red;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-y: hidden;

    &::-webkit-scrollbar{
        width: 1.3rem;
    }

    &::-webkit-scrollbar-track{
        background: #000;
    }

    &::-webkit-scrollbar-thumb{
        background: $red;
    }
}

body{
    overflow-x: hidden;
}

/* section HEADER */
.header{
    position: fixed;
    top: 2.5rem; left: 50%;
    transform: translateX(-50%);
    width: 93%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-radius: 0.5rem;

    .logo{
        color: #333;
        font-size: 2.5rem;

        span{
            color: $red;
        }
    }

    #menu{
        font-size: 3rem;
        color: #666;
        cursor: pointer;
        display: none;
    }

    .navbar{

        a{
            font-size: 2rem;
            color: #333;
            margin-left: 3rem;

            &:hover{
                color: $red;
            }

            &.active{
                color: $red;
            }
        }
    }
}


/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    .header{

        #menu{
            display: block;
        }

        .navbar{
            position: fixed;
            top: 110%; left: 0;
            background: #fff;
            width: 100%;
            border-radius: 0.5rem;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
            transform: scaleY(0);
            transform-origin: top;
            opacity: 0;

            a{
                display: block;
                padding: 2rem;
                margin: 1rem 0;
                font-size: 2.5rem;
                border-bottom: 0.1rem solid rgba(0,0,0,0.1);
            }
        }

        .fa-times{
            transform: rotate(180deg);
        }
    }
}